@model dynamic

@{
    ViewBag.Title = "My spreadsheets";
    <ul>
        @foreach (var entry in ViewBag.feed)
        {
            <li>entry.Title.Text</li>
        }

    </ul>
    
}

<h2>title</h2>

