@using Google.GData.Spreadsheets
@model EconomySheetUpdater.Models.SpreadSheetUpdateViewModel


@{
    <h2>@Model.Entry.Title.Text</h2>
  
        foreach (WorksheetEntry ws in Model.Entry.Worksheets.Entries)
        {
            @*<div>@Html.ActionLink(ws.Title.Text, "Worksheet", "Worksheet") </div>*@
        <div>@Html.ActionLink(linkText:ws.Title.Text, 
                                actionName:"Worksheet", 
                                controllerName:"Worksheet", 
                                routeValues: new
                                    {
                                        //id = ws.Service.Query()//ws.Links.FindService(GDataSpreadsheetsNameTable.ListRel, null).HRef.ToString()
                                    }, 
                                    htmlAttributes:null) </div>
        }
   
}


    



