@using Google.GData.Spreadsheets
@model EconomySheetUpdater.Models.SpreadSheetUpdateViewModel


@{
    <h2>@Model.Entry.Title.Text</h2>
    <select>
        @foreach (WorksheetEntry ws in @Model.Entry.Worksheets.Entries)
        {
            <option>@ws.Title.Text</option>
        }
    </select>
}


    



